html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  color: white;
  background-color: #ff7a7a;
  background-image: url("./images/bg-intro-mobile.png"); }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  margin-top: 5rem; }
  .container .header {
    text-align: center;
    margin-bottom: 5rem; }
  .container .subcription {
    background-color: #6055a5;
    width: 100%;
    height: 8rem;
    border-radius: 1rem;
    text-align: center;
    padding: 1.5rem 7rem;
    box-shadow: 0 0.75rem rgba(62, 60, 73, 0.2);
    margin-bottom: 3rem;
    font-weight: 600; }
    .container .subcription aside {
      font-weight: 800; }
    .container .subcription .light-text {
      font-weight: 200;
      opacity: 0.8; }
  .container #form {
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem;
    color: black; }
    .container #form .form-control {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-top: 1.5rem; }
      .container #form .form-control label {
        display: inline-block;
        visibility: hidden;
        width: 0px;
        height: 0px; }
      .container #form .form-control .input-icon {
        width: 100%;
        display: flex;
        align-items: center;
        position: relative; }
        .container #form .form-control .input-icon input {
          font-size: 1.5rem;
          width: 100%;
          padding: 1em 1.5em;
          font-weight: 700;
          border: 0.5px solid #b9b6d3;
          border-radius: 5px;
          opacity: 0.8; }
        .container #form .form-control .input-icon svg {
          position: absolute;
          right: 2rem; }
      .container #form .form-control small {
        margin-top: 0.5em;
        color: #ff7a7a;
        font-style: italic;
        font-size: 1rem; }
