//color template

//primary
$desaturatedRed: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);

//Neutral

$darkGrayishRed: hsl(0, 6%, 24%);

//Gradients

$linearRedLight: linear-gradient(135deg,hsl(0, 0%, 100%),hsl(0, 100%, 98%));
$linearRedMedium: linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%));

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 62.5%;
  font-family: 'Josefin Sans', sans-serif;
  padding: 0;
  margin: 0;
  background: $linearRedLight;
  width: 100vw;
  height: 100vh;
}

.main__container {
  &__header {
    margin: 2rem;

    &--logo img {
      width: 5.5rem;
    }
  }

  &__hero {
    margin-bottom: 4rem;
  }

  &__content {
    text-align: center;

    &--header {
      font-size: 1.6rem;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      color: $darkGrayishRed;
    }

    &--header .header-style {
      color: $desaturatedRed;
      font-weight: 300;
    }

    &--text {
      color: $desaturatedRed;
      margin: 0 2rem;
      font-size: 0.9rem;
      line-height: 1.4rem;
    }

    &--email {
      margin: 2rem 2rem;
      position: relative;
      height: 2.5rem;
      transition: all 1s ease;

      .form__control {
        display: flex;
        flex-flow: row wrap;
        height: 100%;
        width: 100%;

        .email__container {
          width: 100%;
          position: relative;
          height: 2.5rem;

          #email {
            position: absolute;
            border: 1px solid $desaturatedRed;
            background: none;
            border-radius: 2rem;
            padding-left: 1.5rem;
            height: 100%;
            width: 100%;
            left: 0;
          }

          #email:focus {
            outline: none;
          }
  
          #email::placeholder {
            color: $desaturatedRed;
          }
  
          #icon {
            position: absolute;
            right: 25%;
            top: 20%;
            visibility: hidden;
          }

          .btn {
            position: absolute;
            width: 4rem;
            height: 2.5rem;
            right: 0;
            background: $linearRedMedium;
            border-radius: 2rem;
            border: none;
            cursor: pointer;
            box-shadow: 0 0.3rem 0.8rem 0 rgba(0, 0, 0, .2);
          }
        }
          small {
            margin-top: 0.5rem;
            margin-left: 1.5rem;
            color: $softRed;
            font-size: 0.6rem;
            letter-spacing: 0.1px;
            visibility: hidden;
          }
      }
      .form__control.error #icon,
      .form__control.error small {
        visibility: visible;
      }
    }
  }
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media only screen and (min-width: 768px) {
  .main__container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 25% 75%;
    height: 100vh;
    width: 100vw;

    &__hero {
      &--image {
        grid-row: 1 / -1;
        
        & picture img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

    &__header {
      margin-left: 10rem;
      margin-top: 4rem;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      display: block;

      &--logo img {
        width: 10rem;
      }
    }

    &__content {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      width: 45%;
      text-align: left;
      margin-left: 10rem;

      &--header {
        letter-spacing: 1rem;
      }

      &--text {
        margin: 0 0 2rem 0;
      }

      &--email {
        margin: 0;

      }
    }

  }
}